<div class="message row no-gutters mx-auto mt-5">
    <div class="col-5">
        <ul class="list-unstyled">
            <div class="message-title">
                <div class="ml-3">メッセージ</div>
                <i class="fas fa-caret-down ml-3"></i>
            </div>
            <div class="message-user-list">
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
                <li class="media">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディア1の画像">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">メディア1のヘッダ</h5>
                        <p>メディア1のコンテンツ...</p>
                    </div><!-- /.media-body -->
                </li><!-- /.media -->
            </div>
        </ul>
    </div>
    <div class="col-7">
        <div class="message-content-area">
            <div class="media">
                <a href="#" class="mr-3">
                    <img src="..." alt="メディアの画像">
                </a>
                <div class="media-body">
                <h5 class="mt-0">メディアのヘッダ</h5>
                    メディアのコンテンツ...
                </div><!-- /.media-body -->
            </div><!-- /.media -->
            <div class="message-area pt-5 pb-5">
                <div class=" message-item-me mt-5">
                    右メディアのコンテンツ...
                </div><!-- /.media -->
                 <div class="media mt-5">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディアの画像">
                    </a>
                    <div class="media-body">
                        <div class="mt-0">hoge</div>
                        <div class="message-content">メディアのコンテンツ...</div>
                    </div><!-- /.media-body -->
                </div><!-- /.media -->
                <div class=" message-item-me mt-5">
                    右メディアのコンテンツ...
                </div><!-- /.media -->
                 <div class="media mt-5">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディアの画像">
                    </a>
                    <div class="media-body">
                        <div class="mt-0">hoge</div>
                        <div class="message-content">メディアのコンテンツ...</div>
                    </div><!-- /.media-body -->
                </div><!-- /.media -->
                <div class=" message-item-me mt-5">
                    右メディアのコンテンツ...
                </div><!-- /.media -->
                 <div class="media mt-5">
                    <a href="#" class="mr-3">
                        <img src="..." alt="メディアの画像">
                    </a>
                    <div class="media-body">
                        <div class="mt-0">hoge</div>
                        <div class="message-content">メディアのコンテンツ...</div>
                    </div><!-- /.media-body -->
                </div><!-- /.media -->
            </div>
            
            <div class="message-form text-left">
                <div class="message-text-area ml-5">
                    <textarea rows="4"></textarea>
                </div>
                <div class="btn-info btn message-btn">送信する</div>
            </div>
        </div>
    </div>
</div>
     