<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLong">コメント</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <%= form_with(model: @comment, url: [@post, @comment], local: true) do |form| %>
                <div class="modal-body">
                    <%= form.text_area :content,class:"form-control",rows:6, placeholder:"コメントを入力" ,id: "comment", required: true %>
                </div>
                <div class="modal-footer">
                    <%= form.submit value = "コメントする",class:"btn btn-info my-3"%>
                </div>
            <% end %>
        </div>
    </div>
</div>