<div>
  <h4 class="text-center mt-3">通知</h4>
  <% if @notifications.exists? %>
    <div class="users-index">
      <% @notifications.each do |notification| %>
      <%= notification%>
      <% end %>
    </div>
  <% else %>
    <p class="when-not-text">通知はありません</p>
  <% end %>
</div>