<div class="notification">
    <h3 class="notification-title">お知らせ</h3>
    <ul class="media-list">
        <% if @notifications.exists? %>
                <%= render @notifications %>
        <% else %>
                <div class="when-not-text-notification">通知はありません</div>
        <% end %>
    </ul>
</div>

<div class="notification-pagenation">
    <%= paginate @notifications %>
</div>