<div class="index-title text-center">通知</div>
  <% if @notifications.exists? %>
    <div class="users-index">
      <%= render @notifications %>
    </div>
  <% else %>
    <div class="when-not-text-notification">通知はありません</div>
  <% end %>