<% @like = Like.find_by(user_id: current_user.id , post_id: @post)  %>
<% if current_user && @like %>
    <%= link_to "/posts/#{@post.id}/likes/#{@like.id}", method: :delete ,class:"like-btn-nulike",remote: true do %>
        <div class="text-right like-btn-wrapper">
            <i class="fa fa-heart like-btn-unlike mb-3"></i>
        </div>
    <% end %>
<% else %>
    <%= link_to "/posts/#{@post.id}/likes", method: :post ,class:"like-btn",remote: true do %>
        <div class="text-right like-btn-wrapper">
            <i class="fa fa-heart like-btn mb-3"></i>
        </div>
    <% end %>
<% end %>
