<% @like = Like.find_by(user_id: current_user&.id , post_id: @post.id)  %>

<% if current_user && @like %>
    <%= link_to "/posts/#{@post.id}/likes/#{@like.id}", method: :delete,remote: true do %>
        <h2 class="text-right text-danger">
            <i class="fa fa-heart mb-3"></i>
        </h2>
    <% end %>
<% else %>
    <%= link_to "/posts/#{@post.id}/likes", method: :post ,class:"like-btn",remote: true do %>
        <h2 class="text-right text-secondary">
            <i class="fa fa-heart  mb-3"></i>
        </h2>
    <% end %>
<% end %>
