<div id="bg_area_<%= @user.id %>">
    <div class="bg-area text-center">
        <% if @user.bg_image.attached? %>
            <%= image_tag @user.bg_image,class:"bg-image"%>
        <% else %>
            <h2 class="text-center font-weight-bold text-secondary">背景画像がありません</h2>
        <% end %>
        <% if current_user && @user.id == current_user.id %>
            <div class="text-secondary font-weight-bold" data-toggle="modal" data-target="#bg_edit"> <i class="far fa-image"></i>背景画像編集</div>
        <% end %>
    </div>
</div>