<div class="media-list mt-4">
    <% @comments.each do |comment| %>
    <% post = Post.find_by(id: comment.post_id) %>
        <%= link_to "/posts/#{post.id}" do %>
	        <div class="media media-comment mr-5">
		        <div class="media-left">
		            <% if comment.user.image.attached?%>
                        <%= image_tag comment.user.image,class:"comment-user-img mr-2" %>
                    <% else %>
                        <img src="/assets/user-image.png" class="comment-user-img">
                    <% end %>
		        </div>
		        <div class="media-body">
			        <h5 class="media-heading"><%= comment.user.name %></h5>
			        <div class="ml-5 comment-content">
			            <%= comment.content %>
			        </div>
		        </div>
	        </div>
        <% end %>
    <% end %>
</div>