<div class="container">
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-1">
                <%= render "card" , user: user ,introduction: true %>
            </div>
        <% end %> 
    </div>
</div> 
<% if @users.empty? %>
    <div class="text-center" style="height: 40vh;">
        <h5 class="text-info font-weight-bold mt-5">
            <%= @when_not_text %>
        </h5>
    </div>
<% end %>

<div class="pagenation">
    <%= paginate @users%>
</div>

