<div class="container">
    <div class="row no-gutters">
        <% @users.each do |user| %>
            <div class="col-12 col-md-6 col-lg-3 mt-1">
                <%= render "card" , user: user ,border: true ,introduction: true %>
            </div>
        <% end %> 
    </div>
</div> 
<% if @users.empty? %>
    <div class="text-center" style="height: 30vh;">
        <%= @when_not_text %>
    </div>
<% end %>

<div class="pagenation">
    <%= paginate @users%>
</div>

