<div class="user-info mt-3 ml-3">
    <div class="user-introduce mt-3 ml-3 mr-3">
         <div class="introduce">
            <% if @user.introduce?%>
                <%= @user.introduce %>
            <% else %>
                <div class="user-introduce-default">
                    まだ自己紹介がありません
                </div>
            <% end %>
        </div>
            <div class="area">兵庫県</div>
        </div>
    <% if @user.id == current_user.id %>
        <%= link_to"/users/edit" do%>
            <i class="fas fa-cog"></i>設定
        <% end %>
    <% end %>
</div>