<div class="text-center"> 
    <ul class="media-list">
        <div class="media-list-title mb-3">釣り人一覧</div>
        <% @users.each do |user| %>
            <%= link_to"/users/#{user.id}" do %>
                <li class="media media-users mb-1">
                    <div class="media-left mr-3">
                        <% if user.image.attached? %>
                            <%= image_tag user.image, class:"media-user-image mt-2 ml-2"%>
                        <% else %>
                            <img src="../assets/user-image.png" class="media-user-image  mt-2 ml-2">
                        <% end %>
                        <div class="media-user-name text-center"><%= user.name %></div>
                    </div>
                    <div class="media-body mt-5 mr-5">
                        <%= user.introduce %>
                    </div>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>