<div class="header">
   <div class="site-catch-copy text-center">Fishing Mapで釣りライフをもっと楽しく便利に!</div> 
</div>

<div class="about mt-5">
    <div class="about-title text-center mb-3">
        <img src="../assets/fmap-site-logo.png">とは?
    </div>
    <div class="text-center about-text mt-3">
        <span class="about-site-title">Fhishing Map</span>は釣果を登録して､<br>
        それを地図上で閲覧できる<spa class="border-line"n>WEBサービスです。
        </span>
    </div>

<div class="about-description text-center mt-5">
    <div class="about-description-text mb-3"><span class="description-border">どこで釣れたのかが地図上で一目瞭然!!</span></div>
    <img src="../assets/about-image1" class="about-image">
</div>

<div class="about-description text-center mt-5">
    <div class="about-description-text mb-3"><span class="description-border">
        <span class="description-strong">釣れる!</span>時期が釣果データからわかる!!
    </div>
    <img src="../assets/about-image2 " class="about-image">
</div>

<div class="about-description text-center mt-5">
    <div class="about-description-text mb-3"><span class="description-border">釣れる!餌が釣果データからわかる!!</span></div>
    <img src="../assets/about-image3 " class="about-image">
</div>

<div class="application-recommend text-center mt-5">
    <div class="recommend-item">
    <div class="recommend-title mb-3"><span class="recommend-border">Google Map 釣果投稿WEBアプリケーション</span></div>
    <img src="../assets/fmap-site-logo.png">
    <%= link_to"今すぐ始めてみる","/users/sign_up", class: "top-page-btn mt-5"%>
    </div>
</div>

