<div class="application-top">
    <div class="container-fluied">
        <div class="row no-gutters">
            <div class="col-12 col-lg-4 col-lg-offset-8">
                <div class="jumbotron my-5" style="background-color: rgba(255,255,255,0.7);">
                    <div class="m-2 text-center ">
                        <h3 class="font-weight-bold" style="line-height: 2;">
                            Google Mapで釣果が見れるSNS型釣りWEBアプリケーション
                        </h3>
                        <div class="font-weight-bold my-3">
                            <%= link_to"今すぐ始めてみる","/users/sign_up", class: "top-page-btn"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <h4 class="mt-5 text-center">
                    <img src="../assets/fmap-site-logo.png" style="width: 250px;"><span class="text-info font-weight-bold">とは?</span>
                </h4>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="m-3 text-center font-weight-bold" style="line-height: 2;">
                    <h4 class="mb-3">釣り総合SNS型WEBサービス<span class="text-info">Fishing Map</span></h4>
                    どこでどんな魚が釣れるか地図で一目瞭然!
                    釣果を地図上に投稿､シェア､データ分析､他の釣り人と交流ができるWEBサービスです!!
                </div>
            </div>
            <div class="col-12  col-lg-6">
                <img src="../assets/screen-img.jpg" class="w-100 mx-auto">
            </div>
        </div>
    </div>
</div>



<h5 class="worries-title text-center py-4 m-4 font-weight-bold">釣りをしていてこんな悩みはありませんか<strong>?</strong></h5>
<div class="row bg-white no-gutters">
    <div class="col-xs-12 col-md-6 worries-img-area text-center">
        <img src="../assets/angler-worries.jpg" class="worries-img">
    </div>
    <div class="col-xs-12 col-md-6 align-self-center">
       <div class="m-5">
           <h5 class="worries-item fadein-left">釣りたい魚があるけどどこで釣れるのかがわからない...</h5>
           <h5 class="worries-item fadein-left my-5">釣具屋でオススメスポットを聞いたが釣れなかった...</h5>
           <h5 class="worries-item fadein-left">釣り初心者なのでどんな餌や時期がいいのかわからない...</h5>
       </div>
    </div>
</div>


<div class="bg-white">
    <div class="tryangle mx-auto"></div>
    <h5 class="text-center col-12 font-weight-bold py-3">そんな人に<img src="../assets/fmap-site-logo.png" class="application-logo">です!!</h5>
    <div class="container">
        <div class="row text-center py-3">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="fadein">
                    <h5 class="py-3  font-weight-bold">地図に釣果を登録</h5>
                    <img src="../assets/map-img.jpg" style="width: 150px; height:150px;">
                    <p class="p-4">実際の釣果実績に基づいているから
                    信頼性が高い!!</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="fadein">
                    <h5 class="py-3  font-weight-bold">データ分析</h5>
                    <img src="../assets/graph-img.jpg" style="width: 150px; height:150px;">
                    <p class="p-4">餌や天候､季節や時間帯などどんな条件で釣れたのかが
                    グラフで分かります</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                 <div class="fadein">
                    <h5 class="py-3   font-weight-bold">釣果を通知</h5>
                    <img src="../assets/bell-img.jpg" style="width: 150px; height:150px;">
                    <p class="p-4">気になる釣り人がいたらフォローしてみよう!その人が釣果を投稿したときに通知が来ます</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-3 mt-3 mx-auto">
                <div class="fadein">
                    <h5 class="py-3  font-weight-bold">サイズランキング</h5>
                    <img src="../assets/ranking-img.jpg" style="width: 150px; height:150px;">
                    <p class="p-4">釣果を投稿したらランキングを見てみましょう｡
                    同じ魚を釣った人がどのくらいのサイズの魚を釣っているのかがわかります</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-info text-white text-center my-5">
    <h4 class="py-3 font-weight-bold">かんたん!!アプリの使い方3Step</h4>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-lg-4 mt-3">
            <div class="card h-100 mx-auto fadein" style="box-shadow: 2px 2px 4px rgba(0,0,0,0.12);">
                <h5 class="font-weight-bold text-info py-2">Step1</h5>
                <div class="font-weight-bold mb-2">魚を釣る</div>
                <img src="/assets/step-img1.jpg" class="rounded-circle mx-auto" style="object-fit: cover; width: 200px; height: 200px;">
                <div class="text-secondary p-4">魚を釣る｡(過去の釣果でも構いません)</div>
            </div>
        </div>
        
        <div class="col-xs-12 col-lg-4 mt-3">
            <div class="card h-100 mx-auto fadein" style="box-shadow: 2px 2px 4px rgba(0,0,0,0.12);">
                <h5 class="font-weight-bold text-info py-2">Step2</h5>
                <div class="font-weight-bold mb-2">アプリに記録</div>
                <img src="/assets/step-img2.jpg" class="rounded-circle mx-auto" style="object-fit: cover; width: 200px; height: 200px;">  
                <div class="text-secondary p-4">
                    アプリに釣果を記録｡
                     場所はもちろん､
                     写真や釣ったときの餌 ､天候､日時など
                     を記録する事ができます
                 </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-lg-4 mt-3">
            <div class="card h-100 mx-auto fadein" style="box-shadow: 2px 2px 4px rgba(0,0,0,0.12);">
                <h5 class="font-weight-bold text-info py-2">Step3</h5>
                <div class="font-weight-bold mb-2">地図で確認</div>
                <img src="/assets/step-img3.jpg" class="rounded-circle mx-auto" style="object-fit: cover; width: 200px; height: 200px;">
                <div class="text-secondary p-4">
                    みんなの釣果も確認してみよう!MAP上にはみんなの釣果が表示されます｡
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recommend text-center font-weight-bold mt-5">
    <div class="row">
        <div class="col-10 offset-2 col-lg-4 col-offset-8 mx-auto">
            <div class="jumbotron my-5" style="background-color: rgba(255,255,255,0.8);">
                <div class="h5 font-weight-bold my-3">GoogleMap釣りWEBアプリケーション</div>
                
                <img src="../assets/fmap-site-logo.png">
                <div class="my-3">
                    <%= link_to"今すぐ始めてみる","/users/sign_up", class: "top-page-btn"%>
                </div>
            </div>
        </div>
    </div>
</div>
<p id="pagetop"><a href="#"class="bg-info"><span class="top-btn-icon">▲</span></a></p>
