<%= link_to :back do %>
    <div class="mt-3 ml-3 back-btn"> < 戻る</div>
<% end %>

<div class="ranking-area">
    <div class="ranking-title text-center mb-5">
        <i class="fas fa-crown ranking-icon"></i><%= @post.name %>のサイズランキング(上位8件表示されます)
    </div>
    <div class="ranking-card-list">
        <%= render "posts/posts_index" %>
    </div>
    <% if @posts.empty? %>
        <div class="when-not-text-follow text-center">
            <%= @when_not_text %>
        </div>
    <% end %>
</div>




