<h3>お問い合わせ内容</h3>

------------------------------------------------
<%= @contact.name %>さんからのお問い合わせ
<p>返信先<%= @contact.email %></p>
<p><%= @contact.category %></p>

<p><%= @contact.message %></p>

------------------------------------------------