<h3>お問い合わせ内容</h3>

------------------------------------------------
<%= @contact.name %>さんからのお問い合わせ
<p>email: <%= @contact.email %></p>

<p><%= @contact.message %></p>

------------------------------------------------