<div class="mt-5 text-secondary d-flex justify-content-center">
 <% @likes_count = Like.where(post_id: @post.id).count %>
 <div class="mx-3"><i class="fas fa-heart"></i><%= @likes_count %></div>
 <div class="mx-3"><i class="fas fa-comment"><%= @comments_count %></i></div>
 <div class="mx-3"><%= "#{time_ago_in_words(@post.created_at)}å‰"%></div>
</div>