<div class="row no-gutters">
    <% posts.each_with_index do |post,i| %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-1">
           <%= render"posts/card",post: post %>
        </div>
    <% end %>
</div>
<% if posts.empty?%>
    <div style="height: 20vh;">
        <h5 class="text-secondary text-center font-weight-bold my-5">
            釣果がありません
        </h5>
    </div>
<% end %>
<div class="pagenation ">
    <%= paginate @posts %>
</div>
