
<% if post.size? %>
    <div class="badge badge-info size-badge">
        サイズ: <%= post.size %>cm
    </div>
<% end %>
<% if post.feed? %>
    <div class="badge badge-info">
        餌: <%= post.feed %>
    </div>
<% end %>
<% if post.weather? %>
    <div class="badge badge-info">
        天気: <%= post.weather %>
    </div>
<% end %>
<% if post.number? %>
    <div class="badge badge-info">
        <%= post.number.to_i %>匹
    </div>
<% end %>