<div class="card text-info font-weight-bold">
    <h5 class="p-3 font-weight-bold">条件で検索</h5>
   
        <div class="p-3">
            <div>名前で絞り込む</div> 
            <div class="field">
               
            </div>
    
            <div>サイズで絞り込む</div>
            <div class="field">
               
            </div>
         
            <div>釣れた餌で絞り込む</div>
            <div class="field">
                   
            </div>
            <div>時間帯で絞り込む</div>
            <div class="field">
                
            </div>
            <div>時期で絞り組む</div>
            <div class="field">
               
            </div>
            <div>場所で絞り組む</div>
            <div class="field">
            
            </div>
        </div>
 
</div>