<div class="d-flex align-items-center w-100 h-100">
  <div class="container">
    <div class="row">
      <div class="col-11 col-lg-9 rounded mx-auto mt-4 text-info bg-white font-weight-bold border" style="box-shadow: 2px 2px 4px rgba(0,0,0,0.12);">
        <%= render 'posts/form', post: @post %>
      </div>
    </div>
  </div>
</div>