<div class="h5 text-center font-weight-bold text-info my-5"><%= @title %></div>
<div class="row no-gutters">
    <div class="col-12 col-lg-8 col-lg-offset-4 mx-auto">
        <%= render "posts/index" ,posts: @posts %>
    </div>
</div>