$application-color:#00CCCC;
div.field {
  @extend .form-group !optional;

  input[type="text"],
  textarea,
  select,
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    @extend .form-control !optional;
  }
}

div.actions {
  input[type="submit"] {
    @extend .my-2 !optional;
    @extend .font-weight-bold !optional;
   
  }
}

.form-title{
    color:  $application-color;
    font-weight: bold;
    text-align: center;
    font-size: 1.7rem;
    border-left: solid 6px #7db4e6;
    width: 55%;
    margin: 0 auto;
}

.div#error_explanation{
    color: red;
}