// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$application-color:#00CCCC;
@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}

@media screen and (max-width:1000px){    
    .application-logo{
        width: 180px;
        height: auto;
    }
}

/*トップページ*/
.application-top{
    position: relative;
    
    .top-img{
        opacity: 0.8;
        z-index: 1;
    }
    
    @media screen and (min-width:1000px){    
        .catch-copy{
            position: absolute;
            top: 25%;
            left: 8%;
            background-color:rgba(255,255,255,0.8);
            padding: 2%;
            border-radius: 15px;
            text-align: center;
            padding: 2%;
            border-radius: 15px;
            width: 31%;
        }
        
        .catch-text{
            font-size: calc(1.8rem + ((1vw - 0.64rem) * 2.1429));
            font-weight: bold;
            line-height: 2;
            
        }
    }
}

.catch-copy{
    margin: 5% auto;
    text-align: center;
}
        
.catch-text{
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2;
}



/*アバウトアプリケーション*/

.application-about{
    border: 3px dashed #00CCCC;
    width: 70%;
    margin: 2% auto;
    background: #fff;
    .about-title{
        padding: 1%;
        .about-title-text{
            @include application-text($application-color);
            font-size: 1.8rem;
            vertical-align: middle;
        }
    }
    
    .about-description{
        padding: 0 3%;
        line-height: 2;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-decoration: underline solid  red;
    }
}

@media screen and (max-width:1000px){
    .application-about{
         width: 90%;
    }
}


/*釣り人悩み*/

.worries-title{
    margin: 10% 0;
    font-size: 1.5rem;
    position: relative;
    font-weight: bold;
    text-shadow: 0 0 2px white;
    &:before{
        content: "";
        position: absolute;
        background: #9de5ff;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
    }
}

 @media screen and (max-width:1000px){
    .worries-title{
         margin: 20% 0; 
    }    
 }

.worries-area{
    background: #fff;
    
    @media screen and (min-width:1000px){  
        .worries-list{
            margin: 23% auto;
            li{
                list-style: none;
                margin: 7% 0 0 10% ;
                text-decoration: underline solid  red;
                font-size: 1.3rem;
            }
        }
    }
    
    .worries-list{
        margin: 20% auto;
        width: 90%;
        
        li{
            list-style: none;
            text-decoration: underline solid  red;
            margin: 5% 0;
        }
    }
    
.fadein-left {
    opacity : 0;
    transform : translateX(-100px);
    transition : all 1s;
}

.fadein-left.active{
    opacity : 1;
    transform : translateX(0);
}
    
    
        
    .worries-item{
        position: relative;
        padding-left: 1.2em;
        line-height: 1.4;
        font-weight: bold;

        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f00c";
            font-weight: 900;
            position: absolute;
            font-size: 1em;
            left: 0;
            top: 0;
            color: $application-color;
        }
    }
}

    
.worries-img-area{
   background-color:rgba(0,204,204,0.2);
    .worries-img{
        width: 70%;
        padding: 5%;
    }
}

/*解決*/

.settle-title{
    margin: 5% auto;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 3px solid red;
    width: 35%;
}

@media screen and (max-width:1000px){
    .settle-title{
        margin: 5% auto;
        font-weight: bold;
        font-size: 1.2rem;
        border-bottom: 3px solid red;
        width: 90%;
    }
}

.settle-area{
    .settle{
        background: #fff;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
        height: 100%;
        
        .settle-heading{
            font-size: 1.2rem;
           font-weight: bold;
            margin: 5% 0;
        }
    
        .settle-img{
            height: 200px;
            width: 85%;
        }
        
        .settle-description{
            line-height: 1.5;
            opacity: 0.8;
            padding: 5%;
        }
    }
}

.fadein {
  opacity : 0;
  transform : translate(0, 100px);
  transition : all 1s;
}
 
.fadein.active{
  opacity : 1;
  transform : translate(0, 0);
}


/*使い方ステップ*/

.step-area-title{
    margin: 3% auto;
    font-size: 1.5rem;
    @include application-text($application-color);
    border-bottom: 3px solid #00CCCC;
    width: 30%;
    
    .title-header{
        font-weight: bold;
        color: #FF0000;
        font-size: 1.8rem;
    }
    
    .title-num{
        font-size: 3rem;
        color: #FF0000	;
    }
}

@media screen and (max-width:1000px){
    .step-area-title{
        width: 80%;
    }
}


.step-area{
    margin: 5% 0%;
    
    .step-copy{
        font-size: 1.3rem;
        margin-top: 3%;
        font-weight: bold;
    }
    
    .step-title{
        @include application-text($application-color);
        font-size: 1.3rem;
        padding-top: 5%;
        border-bottom: 3px solid #00CCCC;
        width: 20%;
        margin: 0 auto;
        .step-num{
            font-size: 1.5rem;
        }
    }

    .step{
        background: #fff;
        width: 80%;
        margin: auto;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
        height: 100%;
    }
    
    .step-img{
        width: 280px;
        height: 280px;
        border-radius: 50%;
        margin: 5% 3%;
    }
    
     .step-description{
        padding: 5%;
        opacity: 0.8;
    }

}

/*レコメンド*/
.application-recommend{
    background-image: url("/assets/recommend-bg.jpg");
    background-size: cover;
    margin-bottom: -10%;
    .recommend-item{
        padding: 5% 0;
        background-color: rgba(255,255,255,0.5);
        display: inline-block;
        width: 33%;
        margin: 5% auto;
        border-radius: 20px;
        
        .recommend-title{
            @include application-text($application-color);
            font-size: 1.3rem;
            text-decoration: underline solid red;
        }
    }
}

@media screen and (max-width:1000px){
    .application-recommend{
         background-image: url("/assets/recommend-bg-mini.jpg");
        .recommend-item{
            width: 80%;
        }
    }
}




.top-page-btn {
    display: inline-block;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 0.8;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    &:hover {
      opacity: 0.8;
    }
}

/*プライバシーポリシー*/
.policy-area{
    width: 70%;
    margin: 5% auto;
    .inner{
        background: #fff;
        padding: 5%;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
        
        .policy-title{
            @include application-text($application-color);
        }
        @media screen and (max-width:1000px){
            .policy-title{
                font-size: 1.3rem;
            }
        }
        
        h2{
            margin: 3% 0;
        }
        @media screen and (max-width:1000px){
            h2{
                margin: 3% 0;
                font-size: 1.2rem;
            } 
        }
        
        li{
            margin: 1% 0;
        }
    }
}



/*利用規約*/
.rule-area{
    width: 70%;
    margin: 5% auto;
    .inner{
        background: #fff;
        padding: 5%;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
        
        @media screen and (max-width:1000px){
            .rule-title{
                font-size: 1.3rem;
            }
        }
         h2{
            margin: 3% 0;
        }
        @media screen and (max-width:1000px){
            h2{
                margin: 3% 0;
                font-size: 1.2rem;
            } 
        }
        
        li{
            margin: 1% 0;
        }
    }
}



@media screen and (max-width:1000px){
    .rule-area,.policy-area{
        width: 90%;
    }
}

