// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$application-color:#00CCCC;
@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}

@media screen and (max-width:1000px){    
    .application-logo{
        width: 180px;
        height: auto;
    }
}

/*トップページ*/
.application-top{
    position: relative;
    
    .top-img{
        opacity: 0.8;
        z-index: 1;
    }
    
    @media screen and (min-width:1000px){    
        .catch-copy{
            position: absolute;
            top: 40%;
            left: 5%;
            background-color:rgba(255,255,255,0.8);
            padding: 2%;
            border-radius: 15px;
            text-align: center;
            padding: 2%;
            border-radius: 15px;
            width: 31%;
        }
        
        .catch-text{
            font-size: calc(1.8rem + ((1vw - 0.64rem) * 2.1429));
            font-weight: bold;
            line-height: 2;
            
        }
    }
}

.tryangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #00cccc transparent transparent transparent;
}



/*釣り人悩み*/

.worries-title{
    background-image: url("/assets/q-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

    
   
    
    .fadein-left {
        opacity : 0;
        transform : translateX(-100px);
        transition : all 1s;
    }
    
    .fadein-left.active{
        opacity : 1;
        transform : translateX(0);
    }
    
    .worries-item{
        position: relative;
        padding-left: 1.2em;
        line-height: 1.4;
        font-weight: bold;

        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f00c";
            font-weight: 900;
            position: absolute;
            font-size: 1em;
            left: 0;
            top: 0;
            color: $application-color;
        }
    }

    
.worries-img-area{
   background-color:rgba(0,204,204,0.2);
    .worries-img{
        width: 70%;
        padding: 5%;
    }
}

/*解決*/
.fadein {
  opacity : 0;
  transform : translate(0, 100px);
  transition : all 1s;
}
 
.fadein.active{
  opacity : 1;
  transform : translate(0, 0);
}


/*使い方ステップ*/
    
.step-img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
    


/*レコメンド*/

.application-recommend{
    background-image: url("/assets/recommend-bg.jpg");
    background-size: cover;

    .recommend-item{
        padding: 5% 0;
        background-color: rgba(255,255,255,0.5);
        display: inline-block;
        width: 33%;
        margin: 5% auto;
        border-radius: 20px;
        
        .recommend-title{
            @include application-text($application-color);
            font-size: 1.3rem;
            text-decoration: underline solid red;
        }
    }
}

@media screen and (max-width:1000px){
    .application-recommend{
         background-image: url("/assets/recommend-bg-mini.jpg");
        .recommend-item{
            width: 80%;
        }
    }
}




.top-page-btn {
    display: inline-block;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 1.0rem;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    &:hover {
      opacity: 0.8;
    }
}

/*プライバシーポリシー*/
.policy-area{
    width: 70%;
    margin: 5% auto;
    .inner{
        background: #fff;
        padding: 5%;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
        
        .policy-title{
            @include application-text($application-color);
        }
        @media screen and (max-width:1000px){
            .policy-title{
                font-size: 1.3rem;
            }
        }
        
        h2{
            margin: 3% 0;
        }
        @media screen and (max-width:1000px){
            h2{
                margin: 3% 0;
                font-size: 1.2rem;
            } 
        }
        
        li{
            margin: 1% 0;
        }
    }
}



/*利用規約*/
.rule-area{
    width: 70%;
    margin: 5% auto;
    .inner{
        background: #fff;
        padding: 5%;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
        
        @media screen and (max-width:1000px){
            .rule-title{
                font-size: 1.3rem;
            }
        }
         h2{
            margin: 3% 0;
        }
        @media screen and (max-width:1000px){
            h2{
                margin: 3% 0;
                font-size: 1.2rem;
            } 
        }
        
        li{
            margin: 1% 0;
        }
    }
}



@media screen and (max-width:1000px){
    .rule-area,.policy-area{
        width: 90%;
    }
}

