// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$application-color:#00CCCC;
@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}


@media screen and (min-width:1000px){
    .data-area-title {
      position: relative;
      padding-left: 25px;
      @include application-text($application-color); 
      font-size: 1.5rem;
    
        &:before {
            position: absolute;
            content: '';
            bottom: -3px;
            left: -3px;
            width: 0;
            height: 0;
            border: none;
            border-left: solid 15px transparent;
            border-bottom: solid 15px rgb(119, 195, 223);
        }
        &:after {
            position: absolute;
            content: '';
            bottom: -3px;
            left: 10px;
            width: 100%;
            border-bottom: solid 3px rgb(119, 195, 223);
        }
    
    }
}

.data-area-title {
    @include application-text($application-color);
    border-bottom: 2px dashed #00CCCC;
}


