// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$application-color:#00CCCC;
@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}

.post-wrapper{
    width: 60%;
    height: 80%;
    margin: 10% auto;
    border: 2px solid #00CCCC ;
    
    .post-data *{
        margin:0 auto;
        color: #003366;
    }
    
    .post-user-image{
        width: 60px;
        height : 60px;
        border-radius: 50%;
    }
    
    .post-user-image,.post-user-name{
        display: inline-block;
    }
}

.post-img-area{
    .post-show-img{
        width: 80%;
        height: 80%;
    }
}

.post-map-area{
    .post-show-map{
         width: 80%;
        height: 80%;
    }

}


.post-btn-area{
    color:#fff;
}

.post-data .row,.post-map-area,{
    border-top: 2px solid #00CCCC ;
}

.post-data{
    .data-item{
        padding: 1% 0;
    }
}


/*マップアイコン*/
.map-post-name{
    color: $application-color;
    font-weight: bold;
}

.map-icon-img{
    width: 100px;
    height: auto;
}

/*データ*/
.data-label,.season-data-label,.feed-data-label{
     @include application-text($application-color);
}
