// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$application-color:#00CCCC;
@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}

/*サイズランキング*/
.ranking-area{
    .ranking-title{
        font-size: 1.5rem;
        @include application-text($application-color);
        .ranking-icon{
        color: #FFD700;
        }
    }
    
    .fish-ranking-user-img{
        width: 70px;
        height: 70px;
        border-radius : 50%;
    }
        
    .size-badge{
        background-color: #FFD700;
    }

}

.rank1{
    color: #FFD700;
}

.rank2{
    color: #c0c0c0;
}

.rank3{
     color :#7A592F;
}

    
   
    
    

  