// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通*/
$application-color:#00CCCC;

.user-introduce-default{
    opacity: 0.5;
}




/*ユーザー詳細ページ*/
$application-color:#00CCCC;

@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}

.profile-title,.data-title{
    @include application-text($application-color);
    font-size: 1.2rem;
}

.bg-area{
    position: relative;
    height: 400px;
    
    .bg-image{
        width: 100%;
        height: 400px;
        margin-bottom: -3%;
    }
    .bg-img-edit{
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: 1.2rem;
        cursor: default;
        opacity: 0.8;
        padding: 3px 10px;
        border-radius: 15px;
        background: #EEEEEE;
        
        
            &:hover{
                opacity: 1;
            }
        
    }
    
    .no-bg-img{
        font-size: 20.0rem;
        opacity: 0.1;
    }
     
    .no-bg-text{
        font-size: 2.0rem;
        opacity: 0.1;
    }
    
}

.user-header{
    .user-status{
        width: 100%;
        height: auto;
        background-color: $application-color;
            .user-name,.user-image-area,.user-introduce{
                display: inline-block;
            }
            
            .user-img-area{
               .user-image{
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
               }
            }
            
            .profile-img-edit{
                color: #fff;
                opacity: 0.8;
                cursor: default;
                &:hover{
                    opacity: 1;
                }
            }
            
            .user-name{
                font-weight: bold;
                font-size: 2.0rem;
                color: #fff;
            }
            
            .follow-btn-group{
                margin-right: 8%;
                margin-top: 5%;
                margin-bottom: 10%;
            }
          
           .follow-group{
               .header-follow-text{
                   font-size: 1.5rem;
                   display: inline-block;
                   font-weight: bold;
                   color: #fff;
               }
           }
           
           @media screen and (min-width:700px){
               .follow-group{
                   margin-top: 12%;
                   margin-bottom: 5%;
               }
               
               .follow-btn-group{
                    margin-top: 23%;
                    margin-right: 15%;
               }
               
               .user-name{
                   margin-top: 75px;
               }
           }
           
           
    }

}


.user-info{
    border: 2px solid #00CCCC;
    border-radius: 15px;
    padding: 0.3em 0.5em;
    background: #fff;
    .introduce{
        position: relative;
        border: solid 2px #80c8d1;
        color: $application-color;
        line-height: 1.4;
        padding: 0.4em 0.5em;
        margin: 2em 0 0.5em;
        font-weight: bold;
    
    &:after {
        position: absolute;
        content: '自己紹介';
        background: #80c8d1;
        color: #fff;
        left: 0px;
        bottom: 100%;
        border-radius: 5px 5px 0 0;
        padding: 5px 7px 3px;
        font-size: 0.7em;
        line-height: 1;
        letter-spacing: 0.05em;
        }
        
    }
    
     .setting{
        color: #000000;
        opacity: 0.5;
    }
    

    .area{
        position: relative;
        border: solid 2px #80c8d1;
        color: $application-color;
        line-height: 1.4;
        padding: 0.4em 0.5em;
        margin: 2em 0 0.5em;
        font-weight: bold;
      
        &:after {
            position: absolute;
            content: '活動エリア';
            background: #80c8d1;
            color: #fff;
            left: 0px;
            bottom: 100%;
            border-radius: 5px 5px 0 0;
            padding: 5px 7px 3px;
            font-size: 0.7em;
            line-height: 1;
            letter-spacing: 0.05em;
    }
    }
}


.user-tab-list div{
    display: inline-block;
}

.user-tab-title{
        font-size: 1.2rem;
        position: relative;
        padding: 1% 4%;
        background: $application-color;
        color: white;
        font-weight: bold;
        width: 31%;
        z-index:-1;
        opacity: 0.6;
        text-align: center;
        
        &:before {
            position: absolute;
            content: '';
            left: -2px;
            top: -2px;
            border: none;
            border-left: solid 40px #EEFFFF;
            border-bottom: solid 79px transparent;
            z-index:-2
        }
}
.active{
    opacity: 1.0;
}
    





.when-not-text{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.3;
    text-align: center;
    margin: 5% 0;
}



/*フォロー,フォロワーページ*/

.when-not-text-follow{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.3;
    margin-top: 15%;
    margin-bottom: 21%;
}

.back-btn{
    display: inline-block;
    font-weight: bold;
    padding: 0.5% 1.5%;
    color: #fff;
    border-radius: 25px;
    background: $application-color;
}



