// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通*/
$application-color:#00CCCC;

.user-introduce-default{
    opacity: 0.5;
}

a{
    text-decoration: none;
}

/*ユーザー一覧ページ*/

.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    .card-label{
        position: relative;
        padding: 0.3em;
        background: $application-color;
        color: white;
        &::before {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            border: none;
            border-bottom: solid 10px transparent;
            border-right: solid 15px rgb(149, 158, 155);
        }
    }
    
    width: 24%;
    
    .user-card-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}


/*ユーザー詳細ページ*/
$application-color:#00CCCC;

@mixin application-text($application-color){
    color: $application-color;
    font-weight: bold;
}

.user-header{
    margin: 3% 0;

.user-status *{
    display: inline-block;
}

    .user-status{
        width: 100%;
        background-color: $application-color;
            .user-name,.user-image-area,.user-introduce{
                display: inline-block;
            }
            
            .user-name{
                 font-weight: bold;
                 font-size: 2.0rem;
                 color: #fff;
                 margin-left: 2%;
            }

            .user-image{
                width: 120px;
                height: 120px;
                border-radius: 50%;
           }
           
           .follow-group{
                margin-left: 50%;
               .header-follow-text{
                   font-size: 1.5rem;
                   display: inline-block;
                   font-weight: bold;
                   color: #fff;
               }
           }
           
           
    }

}


.user-info{
    border: dashed 2px #00CCCC;
    padding: 0.2em 0.5em;
    background: #fff;
    .introduce{
        position: relative;
        border: solid 2px #80c8d1;
        color: $application-color;
        line-height: 1.4;
        padding: 0.4em 0.5em;
        margin: 2em 0 0.5em;
        font-weight: bold;
    
    &:after {
      /*タブ*/
        position: absolute;
        content: '自己紹介';
        background: #80c8d1;
        color: #fff;
        left: 0px;
        bottom: 100%;
        border-radius: 5px 5px 0 0;
        padding: 5px 7px 3px;
        font-size: 0.7em;
        line-height: 1;
        letter-spacing: 0.05em;
    }
    }
    

    .area{
      position: relative;
      border: solid 2px #80c8d1;
      color: $application-color;
      line-height: 1.4;
      padding: 0.4em 0.5em;
      margin: 2em 0 0.5em;
      font-weight: bold;
      
        &:after {
          /*タブ*/
            position: absolute;
            content: '活動エリア';
            background: #80c8d1;
            color: #fff;
            left: 0px;
            bottom: 100%;
            border-radius: 5px 5px 0 0;
            padding: 5px 7px 3px;
            font-size: 0.7em;
            line-height: 1;
            letter-spacing: 0.05em;
    }
    }
}

.title-list div{
    display: inline-block;
}



.user-post-title{
    font-size: 1.2rem;
        position: relative;
        padding: 5px 5px 5px 42px;
        background: $application-color;
        font-size: 1.3rem;
        color: white;
        font-weight: bold;
        margin-left: -33px;
        line-height: 1.3;
        width: 20%;
        z-index:-1;
        opacity: 0.6;
        text-align: center;
        
        &:before {
        position: absolute;
        content: '';
        left: -2px;
        top: -2px;
        border: none;
        border-left: solid 40px #EEFFFF;
        border-bottom: solid 79px transparent;
        z-index:-2
        }
}

.active{
    opacity: 1.0;
}
.user-post{
    width: 80%;
    .user-post-card{
    position: relative;
    
        .post-card-img{
            width: 80%;
            height: 38%;
            margin: 5% auto;
        }
    
        .post-description-default{
            opacity: 0.5;
        }
        
        .card-tag{
            margin: 5%;
        }
        
        .user-card-bottom div{
            display: inline-block;
        }
        
        .user-card-bottom{
            position: absolute;
            bottom: 2%;
            left: 5%;
        }
    }

}

.when-not-text{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.3;
    margin: 10% 0 15% 20%;
}

.when-not-text-notification{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.3;
    margin-top: 15%;
    margin-bottom: 21%;
    margin-left: 45%;
}

/*フォロー,フォロワーページ*/

.when-not-text-follow{
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.3;
    margin-top: 15%;
    margin-bottom: 21%;
}

.back-btn{
    display: inline-block;
    font-weight: bold;
    padding: 0.5% 1.5%;
    color: #fff;
    border-radius: 25px;
    background: $application-color;
}



