<% flash.each do |key, value| %>
  <div class="container text-center">
    <div class="flash alert <%= bs4_bgcolor_for(key) %> alert-dismissable fade show font-weight-bold">
      <%= value %>
      <button class="close" data-dismiss="alert">x</button>
    </div>
  </div>
<% end %>