<footer class="footer">
    <%=link_to(image_tag("fmap-site-logo.png",class:"footer-site-logo ml-3"),"/")%>
    <div class="text-center web-copyright">
        Copyright © 2019-2020 Fishing Map. All Rights Reserved.
    </div>
</footer>